.logo {
    height: 200px;
    /* width: 50%; */
}

.Socials {
    color: white;
    height: 120px;
}

.Nav-buttons {
    font-family: 'League Spartan';
    text-transform: none;
}

.Button {
    padding: 20px;
}