@font-face {
    font-family: 'Breathing';
    /*a name to be used later*/
    src: url('./assets/fonts/Breathing.ttf');
    /*URL to font*/
}

* {
    font-family: "League Spartan";
    margin: 0px;
}

.logo {
    height: 20vh;
    display: block;
    margin: 0 auto;
}

.logo-drawer {
    height: 80px;
    display: block;
    margin: 0 auto;
}

.footer {
    background-color: black;
    padding: 50px;
}

.footer p {
    color: white;
    font-size: 2vh;
}

.footer img {
    height: 150px;
}


h1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

h2 {
    font-family: "League Spartan";
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;
}

h4 {
    font-family: 'League Spartan';
    text-align: center;
    padding-bottom: 20px;
}

a {
    color: black;
}



/* HOME PAGE  */

.about-section {
    padding: 20px;
}

.about-photo {
    height: 70vmin;
    margin: 0 auto;
    padding-top: 30px;
}

.about-h1 {
    font-weight: 600;
    margin-bottom: -20px;
}

.about-div {
    background-color: #FABFE2;
    font-family: 'League Spartan';
    padding: 20px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.about-div p {
    font-size: 20px;
    font-weight: 600;
}

.affirmations-section {
    background-color: #EC5EB1;
}

.affirmation {
    font-family: "Breathing";
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    text-align: center;
    font-size: 5vh;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    font-weight: 600;
}

.flower {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 40vmin;
    padding-bottom: 30px;
}

.banner-text {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.banner-text-1 {
    margin-top: -20px;
    color: white;
    margin-bottom: -100px;
    font-family: "League Spartan";
}

.banner-text-2 {
    color: #EC5EB1;
    font-weight: 600;
    font-size: 50px;
    margin-bottom: -30px;
    font-family: "League Spartan";
}

.feed {
    width: 80vmin;
    display: block;
    margin: 0 auto;
    padding-bottom: 50px;
}

.reviews-h1 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    font-weight: 600;
}

.reviews-section {
    background-color: #FABFE2;
    margin-bottom: -20px;
}

.reviews-wrapper {
    background-image: url(./assets/images/leopard.png);
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-repeat: initial;
}

.reviews-div {
    background-color: #EC5EB1;
    margin: 20px;
    padding: 10px;
    text-align: center;
}

.review-text {
    font-weight: 600;
    padding-bottom: 20px;
}


/* --- */


/* ABOUT PAGE */

.about-bg {
    background-color: #fee5f4;
}

.about-header {
    font-family: "League Spartan";
    font-weight: 600;
}

.babies-pic {
    height: 50vmin;
}

.about-pg-div {
    background-color: #FABFE2;
    text-align: center;
    padding: 20px;
    height: 100%;
}

.about-pg-div p {
    padding: 5px;
}

.about-text {
    font-size: 2vh;
}


/* --- */


/* CONTACT PAGE  */

.contact-page {
    background-color: #fee5f4;
    background-size: cover;
    padding: 50px;
}

.contact-page p {
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
}

.contact-image {
    width: 40vmin;
    display: block;
    margin: 0 auto;
}

.socials p {
    font-size: 3vh;
}


/* --- */


/* COURSES PAGE */

.courses-wrapper {
    background-image: url(./assets/images/zebra-print.png);
    width: 100%;
    padding: 10px;
}

.course-page-div {
    background-color: white;
    margin: 20px;
    text-align: center;
}

.course-page-div p {
    font-size: 2vh;
}

.course-buttons-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px;
    flex-wrap: wrap;
}

.course-button {
    margin-bottom: 30px;
    text-transform: none;
    background-color: #EC5EB1;
    color: white;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    border: none;
}

.course-button:hover {
    background-color: #FABFE2;
    color: black;
}

.course-section {
    font-family: "League Spartan";
    font-weight: 600;
    padding-bottom: 20px;
    padding-top: 20px;
}

.selfie-div {
    display: block;
    margin: 0 auto;
}

.selfie {
    width: 70%;
}

.upcoming-courses {
    background-color: #EC5EB1;
    padding: 20px;
    margin-bottom: 20px;
}

.coming-soon {
    color: white;
    font-family: "League Spartan";
    font-weight: 600;
}

.course-info {
    text-align: center;
    padding: 20px;
}


.sleeping-baby {
    height: 40vmin;
}

.courses-header {
    text-align: center;
    font-family: 'League Spartan';
    font-size: 7vmin;
    padding: 40px;
    font-weight: 600;
}

.courses-div {
    background-color: #FABFE2;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.course-bg {
    background-color: rgba(0, 0, 0, 0.5);
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
}

.course-text {
    color: white;
    font-weight: 600;
    font-size: 4vh;
    font-family: "League Spartan";
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.extras-header {
    font-family: "League Spartan";
    font-weight: 600;
    padding: 10px;
    margin: 10px;
}

.extras-div {
    background-color: #FABFE2;
    padding: 20px;
    margin: 20px;
}

.extras-div p {
    font-family: "League Spartan";
    font-size: 2vh;
}


.course-cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.booking-link {
    text-transform: none;
    color: #EC5EB1;
    text-decoration: none;
}

.booking-link:hover {
    color: #EC5EB1;
    text-decoration: underline;
}

/* .courses-info {
    text-align: center;
    padding: 40px;
    font-family: 'League Spartan';
    font-size: 20px;
}

.course-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.course-options {
    height: 300px;
} */


/* --- */


/* TERMS & CONDITIONS */

.tandcs {
    padding: 20px;
}

.tandcs h4 {
    margin-bottom: -10px;
    padding-top: 20px;
}

/* --- */



